<div id="<%= dom_id attendance %>">
  <div>
    <strong>Employee:</strong>
    <%= attendance.employee_id %>
  </div>

  <div>
    <strong>Check in:</strong>
    <%= attendance.check_in %>
  </div>

  <div>
    <strong>Check out:</strong>
    <%= attendance.check_out %>
  </div>

</div>
